.message {
  border-radius: 25px;
  padding: 16px 24px;
  margin: 4px 0;
  max-width: 75%;
  color: black;
  opacity: 0.8;
}

.highlight {
  filter: opacity(1);
  font-size: 1.1em;
}

.think {
  color: darkgray;
}

.fromMe {
  align-self: flex-end;
  background-color: greenyellow;
  
}

.fromOtherSide {
  align-self: flex-start;
  background-color: #f0f0f0;
}