.message {
  border-radius: 25px;
  padding: 16px 24px;
  margin: 4px 0;
  max-width: 75%;
}

.highlight {

}

.think {

}

.fromMe {
  align-self: flex-end;
  background-color: greenyellow;
  
}

.fromOtherSide {
  align-self: flex-start;
  background-color: #f0f0f0;
}